################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Implementacija/Cvjecara_Latica/.vs/Cvjecara_Latica
