@{
    ViewData["Title"] = "Access Denied";
}

<div style="background-color: white; padding: 50px; color:#661414;">
    <h1 style="color: #661414;">Access denied</h1>
    <p>You do not have access to this resource.</p>
</div>