@{
    ViewData["Title"] = "Contact";
}

<style>
    .contact-info {
        font-size: 18px; /* Povećaj broj ako želiš još veći tekst */
    }

        .contact-info i {
            font-size: 22px; /* Povećaj broj za još veće ikone */
            margin-right: 8px;
            color: #822b2b;
        }
</style>

<div class="contact-container" style="background-color:#fcefdc; padding: 20px;">
    <h2 style="color:#822b2b;">Contact:</h2>
    <div class="contact-info" style="margin-top: 20px;">
        <p><i class="fas fa-map-marker-alt"></i> Fleet Street 101</p>
        <p><i class="fas fa-phone"></i> 062547325</p>
        <p><i class="fas fa-envelope"></i> <a href="mailto:petal.flowershop@gmail.com">petal.flowershop@gmail.com</a></p>
        <p><i class="fab fa-instagram"></i> petal.flowershop</p>
        <p><i class="fab fa-facebook"></i> Petal Flower Shop</p>
    </div>
</div>