@{
    ViewData["Title"] = "Filtered Results";
}

<h2>Rezultati pretrage</h2>

<div class="image-grid">
    <img src="/images/tulips1.jpg" alt="Lale" />
    <img src="/images/tulips2.jpg" alt="Lale" />
    <img src="/images/tulips3.jpg" alt="Lale" />
    <img src="/images/tulips4.jpg" alt="Lale" />
</div>